@font-face {
  font-family: 'iconfont'; /* Project id 2674624 */
  src: url('//at.alicdn.com/t/font_2674624_5670bp9lpqr.woff2?t=1626255728037')
      format('woff2'),
    url('//at.alicdn.com/t/font_2674624_5670bp9lpqr.woff?t=1626255728037')
      format('woff'),
    url('//at.alicdn.com/t/font_2674624_5670bp9lpqr.ttf?t=1626255728037')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-preview:before {
  content: '\e83e';
}
